<h1>Reset Password</h1>
<form action='/auth/profile/reset-password/{{token}}' method='POST'>
  <label for='newPassword'>New Password:</label>
  <input type='password' id='newPassword' name='newPassword' required />
  <br />
  <button type='submit'>Reset Password</button>
</form>
<button class='averageButton' onclick="location.href='/?login=true'">Volver</button>